body{
    background-color: brown;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    font-size: 50px;
    
}

a{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 30px;
    color: yellow;
}