body{
    background-color: brown;
}


.headings{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    font-size: 25px;
}
h1.headings{
    font-size: 50px;
    text-align: center;
}
.text{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}
img{
    height: 250px;
}